#include <windows.h>
#include <commctrl.h>
#include <richedit.h>
#include "resource.h"

LANGUAGE 9,1

IDI_EMAIL ICON DISCARDABLE "email.ico"

Main DIALOGEX 0,0,220,80
FONT 8,"Tahoma",0,0,1
STYLE WS_POPUP|WS_VISIBLE|DS_CENTER
BEGIN
  CONTROL "OK",2001,"Button",WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,165,21,50,13
  CONTROL "EXIT",2002,"Button",WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,165,45,50,13
  CONTROL "",2003,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,21,128,13,WS_EX_CLIENTEDGE
  CONTROL "",2004,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,27,45,128,13,WS_EX_CLIENTEDGE
  CONTROL "NAME:",4001,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,3,21,24,13
  CONTROL "PASS:",4002,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,3,45,24,13
  CONTROL "",IDC_LOGMAIN,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN|SS_CENTERIMAGE|SS_CENTER,3,66,213,9
END

IDD_EMAIL DIALOGEX 6,18,395,250
FONT 8,"Tahoma",0,0,1
STYLE WS_POPUP|WS_VISIBLE|DS_CENTER
BEGIN
  CONTROL "Send",2005,"Button",WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,352,20,32,12
  CONTROL "Minimize",2006,"Button",WS_VISIBLE|WS_TABSTOP|BS_OWNERDRAW,352,36,32,12
  CONTROL "SendTo:",4001,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,8,20,36,12
  CONTROL "",4002,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,44,20,296,12,WS_EX_CLIENTEDGE
  CONTROL "CopyTo:",4003,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,8,36,36,12
  CONTROL "",4004,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,44,36,296,12,WS_EX_CLIENTEDGE
  CONTROL "",4007,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|WS_TABSTOP|ES_WANTRETURN|ES_AUTOVSCROLL|ES_MULTILINE,44,68,340,116,WS_EX_CLIENTEDGE
  CONTROL "Subject:",4006,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,8,52,36,12
  CONTROL "",4005,"Edit",WS_CHILDWINDOW|WS_VISIBLE|WS_TABSTOP,44,52,340,12,WS_EX_CLIENTEDGE
  CONTROL "Content:",4008,"Static",WS_CHILDWINDOW|WS_VISIBLE|WS_GROUP|SS_CENTERIMAGE|SS_CENTER,8,68,36,12
  CONTROL "",4009,"ListBox",WS_CHILDWINDOW|WS_VISIBLE|WS_VSCROLL|LBS_SORT|LBS_NOTIFY,9,188,375,56,WS_EX_CLIENTEDGE|WS_EX_ACCEPTFILES
  CONTROL "",IDC_STATUS,"Static",WS_CHILDWINDOW|WS_VISIBLE|SS_SUNKEN|SS_CENTERIMAGE|SS_CENTER,9,237,375,9
END

